<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <section class="max-w-[1650px] mx-auto px-6 lg:px-16 py-12 bg-white">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-12"
      >
        <div class="flex flex-col justify-center space-y-4">
          <h2 class="text-[69px] font-light text-primary font-[Poppins]">
            All Centres
          </h2>
          <p class="text-primary text-[21px] font-[Poppins]">
            Find The Nearest Eye Care Centre <br />For Clearer Vision.
            <span class="flex justify-end me-20">
              <button
                class="w-[104px] h-[104px] bg-primary rounded-full flex items-center justify-center hover:bg-[#1e1b4b] transition-colors shadow-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-12 w-11 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
              </button>
            </span>
          </p>
          <div class=""></div>
        </div>

        <div class="space-y-4 group cursor-pointer">
          <div class="overflow-hidden rounded-xl shadow-sm">
            <img
              src="../assets/images/home-page/center1.png"
              alt="Delhi"
              class="w-full h-[360px] object-cover group-hover:scale-105 transition-transform duration-500"
            />
          </div>
          <h3 class="text-[35px] text-primary font-[Poppins] pl-10">Delhi</h3>
        </div>

        <div class="space-y-4 group cursor-pointer">
          <div class="overflow-hidden rounded-xl shadow-sm">
            <img
              src="../assets/images/home-page/center2.png"
              alt="Telangana"
              class="w-full h-[360px] object-cover group-hover:scale-105 transition-transform duration-500"
            />
          </div>
          <h3 class="text-[35px] text-primary font-[Poppins] pl-10">
            Telangana
          </h3>
        </div>

        <div class="space-y-4 group cursor-pointer">
          <div class="overflow-hidden rounded-xl shadow-sm">
            <img
              src="../assets/images/home-page/center1.png"
              alt="Maharashtra"
              class="w-full h-[360px] object-cover group-hover:scale-105 transition-transform duration-500"
            />
          </div>
          <h3 class="text-[35px] text-primary font-[Poppins] pl-10">
            Maharashtra
          </h3>
        </div>

        <div class="space-y-4 group cursor-pointer">
          <div class="overflow-hidden rounded-xl shadow-sm">
            <img
              src="../assets/images/home-page/center2.png"
              alt="Gujarat"
              class="w-full h-[360px] object-cover group-hover:scale-105 transition-transform duration-500"
            />
          </div>
          <h3 class="text-[35px] text-primary font-[Poppins] pl-10">Gujarat</h3>
        </div>

        <div class="space-y-4 group cursor-pointer">
          <div class="overflow-hidden rounded-xl shadow-sm">
            <img
              src="../assets/images/home-page/center1.png"
              alt="Rajasthan"
              class="w-full h-[360px] object-cover group-hover:scale-105 transition-transform duration-500"
            />
          </div>
          <h3 class="text-[35px] text-primary font-[Poppins] pl-10">
            Rajasthan
          </h3>
        </div>
      </div>

      <div
        class="mt-20 flex flex-col md:flex-row w-full rounded-lg overflow-hidden shadow-md"
      >
        <div
          class="flex-1 bg-[#1e1b4b] py-4 px-6 flex items-center justify-center gap-3 text-white border-r border-white/10 hover:bg-[#25225d] transition-colors cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 rotate-15"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M20 15.5c-1.2 0-2.4-.2-3.6-.6-.3-.1-.7 0-1 .2l-2.2 2.2c-2.8-1.4-5.1-3.8-6.6-6.6l2.2-2.2c.3-.3.4-.7.2-1-.3-1.1-.5-2.3-.5-3.5 0-.6-.4-1-1-1H4c-.6 0-1 .4-1 1 0 9.4 7.6 17 17 17 .6 0 1-.4 1-1v-3.5c0-.6-.4-1-1-1z"
            />
          </svg>
          <span class="font-semibold text-[22px]"
            >Delhi NCR:
            <span class="font-semibold text-[22px]">08065423777</span></span
          >
        </div>

        <div
          class="flex-1 bg-[#534fa1] py-4 px-6 flex items-center justify-center gap-3 text-white hover:bg-[#5f5ab8] transition-colors cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 rotate-12"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              style="width: 30px; height: 30px"
              d="M20 15.5c-1.2 0-2.4-.2-3.6-.6-.3-.1-.7 0-1 .2l-2.2 2.2c-2.8-1.4-5.1-3.8-6.6-6.6l2.2-2.2c.3-.3.4-.7.2-1-.3-1.1-.5-2.3-.5-3.5 0-.6-.4-1-1-1H4c-.6 0-1 .4-1 1 0 9.4 7.6 17 17 17 .6 0 1-.4 1-1v-3.5c0-.6-.4-1-1-1z"
            />
          </svg>
          <span class="font-semibold text-[22px]"
            >Rest Of India:
            <span class="font-semibold text-[22px]">08065423666</span></span
          >
        </div>
      </div>
    </section>

    <section
      class="max-w-[1650px] mx-auto px-6 lg:px-16 py-10 bg-white font-[Poppins]"
    >
      <div class="flex items-center gap-6 mb-12">
        <div>
          <h2 class="text-[69px] font-light text-primary">
            Our Eye Care Specialities
          </h2>
          <p
            class="text-primary font-light text-[21px] mt-2 leading-tight flex items-start"
          >
            <span class="me-5">
              Learn More About Our Specialities<br />
              And Care Programs
            </span>
            <span class="flex justify-end items-start">
              <button
                class="w-[104px] h-[104px] bg-primary rounded-full flex items-center justify-center hover:bg-[#1e1b4b] transition-colors shadow-lg"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-12 w-11 text-white"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
              </button>
            </span>
          </p>
        </div>
      </div>

      <div
        class="flex h-[500px] w-full rounded-[30px] overflow-hidden shadow-2xl border"
      >
        <div class="accordion">
          <!-- ITEM -->
          <div class="acc-item active">
            <div class="acc-trigger font-[Poppins]">Cataract</div>
            <div class="acc-content">
              <div class="acc-inner">
                <h3 class="text-[36px] font-light">Cataract Surgery</h3>
                <p class="text-[29px] font-light">
                  Experience swift and outpatient procedure for a sharp, bright
                  vision. The clouded lenses are removed and replaced with
                  artificial lenses that individuals may choose as per their
                  lifestyle needs.
                </p>

                <ul class="ms-10">
                  <li>• 50+ Successful Surgeries</li>
                  <li>• 50+ Successful Surgeries</li>
                </ul>
                <div class="flex justify-center">
                  <button class="">Read More</button>
                </div>
              </div>
            </div>
          </div>

          <div class="acc-item">
            <div class="acc-trigger font-[Poppins]">LASIK</div>
            <div class="acc-content">
              <div class="acc-inner">
                <h3>LASIK Surgery</h3>
                <p>Clear vision without glasses.</p>
              </div>
            </div>
          </div>

          <div class="acc-item">
            <div class="acc-trigger font-[Poppins]">Glaucoma</div>

            <div class="acc-content">
              <div class="acc-inner">
                <h3>Glaucoma</h3>
                <p>Reduce eye pressure safely.</p>
              </div>
            </div>
          </div>
          <div class="acc-item">
            <div class="acc-trigger font-[Poppins]">Glaucoma</div>

            <div class="acc-content">
              <div class="acc-inner">
                <h3>Glaucoma</h3>
                <p>Reduce eye pressure safely.</p>
              </div>
            </div>
          </div>
          <div class="acc-item">
            <div class="acc-trigger font-[Poppins]">Glaucoma</div>

            <div class="acc-content">
              <div class="acc-inner">
                <h3>Glaucoma</h3>
                <p>Reduce eye pressure safely.</p>
              </div>
            </div>
          </div>
          <div class="acc-item">
            <div class="acc-trigger font-[Poppins]">Glaucoma</div>

            <div class="acc-content">
              <div class="acc-inner">
                <h3>Glaucoma</h3>
                <p>Reduce eye pressure safely.</p>
              </div>
            </div>
          </div>
          <div class="acc-item">
            <div class="acc-trigger font-[Poppins]">Glaucoma</div>

            <div class="acc-content">
              <div class="acc-inner">
                <h3>Glaucoma</h3>
                <p>Reduce eye pressure safely.</p>
              </div>
            </div>
          </div>
          <div class="acc-item">
            <div class="acc-trigger font-[Poppins]">Glaucoma</div>

            <div class="acc-content">
              <div class="acc-inner">
                <h3>Glaucoma</h3>
                <p>Reduce eye pressure safely.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
