<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="bg-white font-sans text-gray-900">
      <main class="max-w-[1650px] mx-auto px-8 pt-16 pb-12">
        <!-- TOP SECTION -->
        <div class="gap-[15rem] flex justify-center mx-auto pb-12">
          <!-- LEFT TEXT -->
          <div>
            <h1 class="text-[66px] leading-[81px] font-normal text-[#2B286F]">
              Welcome to <span class="font-semibold">India’s</span><br />
              <span class="font-semibold">Leading Eye Care</span><br />
              <span class="font-semibold"> Network </span>
            </h1>
          </div>

          <!-- RIGHT CARDS -->
          <div class="flex gap-6 mt-4">
            <!-- Card 1 -->
            <div
              class="w-[279px] h-[151px] group border border-gray-300 bg-gray-100 rounded-2xl p-5 flex flex-col justify-end overflow-hidden cursor-pointer transition hover:shadow-lg hover:-translate-y-1"
            >
              <div>
                <h3 class="card_font break-words">International Patients</h3>

                <div
                  class="w-10 h-[2px] bg-gray-400 mt-3 group-hover:bg-[#2E2A72] transition"
                ></div>
              </div>
            </div>

            <!-- Card 2 -->
            <div
              class="w-[279px] h-[151px] group border border-gray-300 bg-gray-100 rounded-2xl p-5 flex flex-col justify-end overflow-hidden cursor-pointer transition hover:shadow-lg hover:-translate-y-1"
            >
              <div>
                <h3 class="card_font break-words">
                  Find Your<br />
                  Nearest Centre
                </h3>

                <div
                  class="w-10 h-[2px] bg-gray-400 mt-3 group-hover:bg-[#2E2A72] transition"
                ></div>
              </div>
            </div>
          </div>
        </div>

        <!-- HERO BOX -->
        <div
          class="relative mt-16 bg-primary w-full rounded-[32px] shadow-xl overflow-visible"
        >
          <div class="flex flex-col lg:flex-row min-h-[460px]">
            <!-- LEFT STATS -->
            <div class="flex-1 text-white p-12 space-y-10 z-10">
              <div>
                <h2 class="text-[52px] font-bold font-[Lato]">30+ Years</h2>
                <p class="text-[22px] font-normal">of Trust</p>
              </div>

              <div>
                <h2 class="text-[52px] font-bold font-[Lato]">15Lac+</h2>
                <p class="text-[22px] font-normal">Happy Patients a Year</p>
              </div>

              <div>
                <h2 class="text-[52px] font-bold font-[Lato]">90+ Centres</h2>
                <p class="text-[22px] font-normal">in Pan India</p>
              </div>
            </div>

            <!-- DOCTOR IMAGE -->
            <div
              class="hidden lg:block absolute bottom-0 left-[33%] w-[25%] z-20 overflow-visible"
            >
              <img
                src="../assets/images/home-page/landingImg1.png"
                class="w-full object-contain scale-[1.3] origin-bottom drop-shadow-2xl"
              />
            </div>

            <!-- RIGHT FORM -->
            <div class="lg:w-[38%] flex items-center p-10 z-30">
              <div class="w-full max-w-md ml-auto">
                <h3 class="text-white mb-1 text-center text-heroCard">
                  Your Path to Clear Vision
                </h3>

                <!-- INPUT -->
                <div
                  class="flex rounded-lg overflow-hidden shadow-md mb-4 h-[65px] w-[450px]"
                >
                  <span
                    class="bg-white px-4 flex items-center text-black-600 text-m border-r"
                  >
                    +91
                  </span>
                  <input
                    type="text"
                    placeholder="To Book An Appointment"
                    class="flex-1 px-4 py-3 outline-none text-gray-800 text-[18px] bg-white"
                  />
                </div>

                <!-- BUTTON -->
                <button
                  class="w-full h-[65px] bg-secondary hover:bg-yellow-400 text-[#2B286F] font-normal text-[24px] py-3 rounded-lg uppercase text-sm tracking-wide transition active:scale-95"
                >
                  Request a Callback
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
