<!-- TOP BAR -->
<div class="bg-gray-200 text-xs">
  <div class="max-w-7xl mx-auto px-4 py-2 flex justify-end gap-6 text-gray-600">
    <span>Media</span>
    <span>Career</span>
    <span>Empanelments</span>
    <span>Collaborations</span>
    <span>Investors</span>
    <span>Education & Training</span>
  </div>
</div>

<!-- MAIN NAV -->
<div class="bg-primary text-white">
  <div
    class="max-w-7xl mx-auto px-4 flex items-center justify-between"
    style="height: 82px"
  >
    <!-- Logo -->
    <div class="flex items-center gap-2 bg-white text-indigo-900">
      <img
        src="../assets/images/comp/cfs_logo.png"
        alt="Logo"
        class="logo object-contain"
      />
    </div>
    <!-- Logo -->

    <!-- Menu -->
    <nav class="hidden md:flex gap-10 text-sm">
      <a href="#" class="hover:text-yellow-300 font-light">About Us</a>
      <a href="#" class="hover:text-yellow-300 font-light"
        >Find an Eye Specialist</a
      >
      <a href="#" class="hover:text-yellow-300 font-light">Specialities</a>
      <a href="#" class="hover:text-yellow-300 font-light">Locate Us</a>
      <a href="#" class="hover:text-yellow-300 font-light">Our Blogs</a>
    </nav>

    <!-- CTA -->
    <button class="book-appointment-btn">BOOK AN APPOINTMENT</button>
  </div>
</div>
