@import url("./variables.css");

body {
  font-family: "Poppins", sans-serif;
  /* background-color: var(--color-secondary); */
}

/* Smooth hover */
.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-4px);
}
.logo {
  width: 282px;
  height: 84px;
}
.book-appointment-btn {
  background-color: var(--color-secondary);
  border-radius: 8px;
  color: black;
  width: 184px;
  height: 55px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -4%;
  text-align: center;
  text-transform: uppercase;
}
.card_font {
  font-family: Poppins;
  font-weight: 300;
  font-style: Light;
  font-size: 31px;
  leading-trim: NONE;
  line-height: 37px;
  letter-spacing: -4%;
  text-transform: capitalize;
}
